---

import ImgPB from './ImgPB.astro';
import { formatDate } from '../../backend/utilises';
const { ...film } = Astro.props;

---

<article>
    <!-- <a href={`/film/[${film.id}]`}>
      <Picture pictureAttributes={{ class: "block rounded-t-lg overflow-hidden" }} inferSize={true} src={film.imageUrl} alt="" />
    </a> -->
    <ImgPB 
    record={film} 
    field="affiche" 
    alt={film.imgAlt} 
    classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black" 
    classImg="group-hover:grayscale-0 group-hover:mix-blend-normal"
  />
    <div
      class="relative px-6 py-8 space-y-4"
    >
      <h3 class="text-2xl font-semibold py-4">
        <a class="text-black" href={`/film/${film.id}`}>{film.nom_film}</a>
      </h3>
      <p class="text-gray-500 flex items-center">
        <span class="text-2xl font-bold ">{formatDate(film.date)}</span
        >
      </p>
      <address class="text-gray-500 not-italic  pb-4">
        { film.ba}
      </address>

     
    </div>
    
  </article>